<div class="contenedor flex row end">
  <div *ngIf="usuarioService.isUserLogged()" class="usuario flex center-horizontal">
    <p>Bienvenido {{usuarioService.getUser()}}</p>

  </div>

  <nav>

    <a [routerLink]="['/home']">Home</a>
    <a *ngIf="!usuarioService.isUserLogged()" [routerLink]="['/login']">Entrar</a>
    <a *ngIf="!usuarioService.isUserLogged()" [routerLink]="['/register']">Registro</a>
    <a *ngIf="usuarioService.isUserLogged()" [routerLink]="['/profile']">Perfil</a>
    <a *ngIf="usuarioService.isUserLogged()" [routerLink]="['/mapa']">Mapa</a>
    <a *ngIf="usuarioService.isUserLogged()" (click)="onLogOut()">Salir</a>




    <!-- <a href="#About">Sobre la app</a> crear-->
  </nav>
</div>

<router-outlet></router-outlet>