* {

    margin: 0px;
    padding: 0px;
}

p {

    padding-left: 2em;
}


nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    padding-right: 2%;
    
   
}

.usuario {

    padding-right: 50px;
    color: rgb(110, 169, 247);
}

a {

    text-decoration: none;
    color: black;
    font-size: 1.2em;
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    font-family: Arial;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 20px;
}

a:hover {

    background-color:rgb(110, 169, 247);
    color:white;
    transition: .5s ease-out;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

