<div class="container flex row center-horizontal center-vertical">

    <div>
        <h2>Modificar Perfil</h2>
        <div>
            <div class="contenedor">
                <p *ngIf="formUpdate.untouched"></p>
                <form novalidate [formGroup]="formUpdate" (ngSubmit)="onSubmit()">
                    <div class="form-group">

                        <input type="text" class="form-control" formControlName="nombre" value="">
                        <p class="error"
                            *ngIf="formUpdate.controls['nombre'].errors?.required && formUpdate.controls['nombre'].touched">
                            El campo nombre es requerido
                        </p>
                        <p class="error"
                            *ngIf="formUpdate.controls['nombre'].errors?.maxlength && formUpdate.controls['nombre'].touched">
                            El campo nombre debe tener máximo
                            {{formulario.controls['nombre'].errors?.maxlength.requiredLength}}
                            caracteres. Tú has insertado
                            {{formulario.controls['nombre'].errors?.maxlength.actualLength}}
                            caracteres.
                        </p>
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" formControlName="apellidos">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">

                        <input type="date" class="form-control" formControlName="fecha_nacimiento">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" formControlName="usuario">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" formControlName="password_repeat">
                        <p class="error" *ngIf="formUpdate.errors?.passwordvalidator">
                            ⚠️ {{formulario.errors.passwordvalidator }} ⚠️
                        </p>
                    </div>

                    <input type="submit" value="Enviar">

                </form>
            </div>
            <!-- <div class="col-4">
                <ul>
                    <li [ngClass]="{ 'tachado': !formulario.controls['nombre'].errors?.required }">
                        El campo nombre es requerido
                    </li>
                    <li [ngClass]="{ 'tachado': !formulario.controls['nombre'].errors?.maxlength }">
                        El campo nombre debe tener como máximo 15 caracteres
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>