<div class="container flex column">

    <div class="fichaUsuario flex row centerHorizontal centerVertical">

        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjMM9PTlG4sB_GWtGAsi2vXN0-EAH6NuvVXYnOIqBA_o5Y_7RW">


        <div class="flex column centerVertical centerHorizontal espaciado">
            <p><strong>Nombre: </strong>{{usuario?.nombre}} {{usuario?.apellidos}}</p>
            <p><strong>Fecha de nacimiento: </strong>{{usuario?.fecha_nacimiento | date: 'dd/MM/yyyy'}}</p>
            <p><strong>Email: </strong>{{usuario?.email}}</p>
            <input [routerLink]="['/update']" type="submit" value="modificar perfil" (click)="onSubmit">
        </div>

    </div>


    <div class="localizacion flex row centerHorizontal centerVertical">
        <form novalidate #formulario="ngForm" (ngSubmit)="onSubmitLoc()">
            <div class="flex column locInputs">
                <div class="form-group">
                    <label>Punto de partida</label>
                    <input type="text" name="partida" class="form-control iPlaces" #inputPartida ngModel>
                </div>
                <div>
                    <label>Punto de destino</label>
                    <input type="text" name="destino" class="form-control iPlaces" #inputDestino ngModel>

                </div>
                <input type="submit" value="guardar en perfil" class="btn btn-block btn-success">
            </div>
        </form>
        <div #googleMap class="mapa">

        </div>
    </div>



</div>