/* You can add global styles to this file, and also import other style files */
* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {

   overflow-x: hidden;
}



.flex {

   display: flex;
}

.row {

   flex-direction: row;
}

.column {

   flex-direction: column;
}

.space-between {

   justify-content: space-between;
}
.wrap {

   flex-wrap: wrap;
}

.no-wrap {

   flex-wrap: nowrap;
}

.center-horizontal {
   
   align-items: center;
   align-content: center;

}

.center-vertical {

   justify-content: center;
}

.center-start {

   align-items: center;
   justify-content: flex-start;

}

.end {

   justify-content: flex-end;
} 

p, h2, h3 {

   font-family: 'Poppins', sans-serif;
}

h2 {

   color: rgb(110, 169, 247);
   
}

hr {

   border: 1px solid rgb(110, 169, 247);
   width: 200px;
   align-self: center;
}

form {

   font-size: 1em;
   font-family: Arial;
   margin: 0 auto;
 }

 form div {
   display: flex;
   flex-direction: column;
   margin: 1em;
   

 }

 input {
     width: 300px;
     padding: .5em;
     margin: .5em;
     border-left: none;
     border-top: none;
     border-right: none;
     border-bottom: 1px solid rgb(110, 169, 247);
     font-size: 1em;

 }



 .container {

   margin-top: 5em;
   box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
 }

 input[type="submit"] {

   border-bottom: none;
   background-color:rgb(110, 169, 247);
   border-radius: 30px;
   font-size: 1.1em;
   cursor: pointer;
   color: white;
   
 }
 input[type="submit"] p {

   color: white;
 }

 nav {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: flex-end;
   height: 50px;
   padding-right: 5%;
   margin-right: 2%;
   
  
}

nav a {

   color: black;
}

#cerrar {

   height: 30px;
   width: 30px;
   padding-top: 5px;
}
 
/*---media queries----*/

 @media (max-width: 360px) {

   .iconoMenu {

      position: absolute;
      top: 0;
      left: 0;
   }

   nav {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
      background-color: rgba(0,0,0,.7);
      width: 100vw;
      
        
  }

  nav a {

   color: white;
  }

  .menu img{

   width: 30px;
   height:30px;

  }

  .usuario {

   display: none;
  }
 }


