<html>

<body>
    <section id="hero" class="flex center-horizontal center-vertical">

        <!-- <div class="carretera flex row no-wrap">

            <div class="carril uno flex column">

                <img src="assets/img/coche.png">

                <img src="assets/img/cocheAzul.png">

                <img src="assets/img/cocheNaranja.png">

                <img src="assets/img/cocheBlanco.png">

                <img src="assets/img/camioneta.png">


            </div>

            <div class="carril dos flex column">

                <img src="assets/img/cocheAzul.png">

                <img src="assets/img/camion.png">

                <img src="assets/img/cocheBlanco.png">

                <img src="assets/img/cocheNaranja.png">

                <img src="assets/img/camioneta.png">


            </div>

        </div> -->
        <!-- 
        <div class="cabecera">

            <h1>Jam<br><span>Out</span></h1>
            <p>app para acabar con los atascos</p>
            <div>

                <a class="boton" [routerLink]="['/register']">
                    <p>Regístrate</p>
                </a>

            </div>


        </div> -->

    </section>
    <section id="intro">

        <!-- <img id="car" src="assets/img/coche.png"> -->


        <div class="contenedorIntro flex column">

            <div class="flex row center-horizontal">

                <div>

                    <img src="assets/img/coche_iconos.jpg">

                </div>

                <div>

                    <header>

                        <h2>Encuentra <br>conductores en tu area</h2>

                    </header>

                    <p>Estás a un click de encontrar personas que como tú quieren compartir coche. Busca en el mapa el
                        trayecto que te inetersa.</p>
                </div>

            </div>

            <div class="flex row center-horizontal">

                <div>

                    <header>

                        <h2>Compartamos</h2>

                    </header>

                    <p>El 80% de los usuarios viajan solos en su automóvil en el mismo horario y a un destino muy
                        cercano.
                        Muchos
                        viven relativemante cerca.</p>




                </div>

                <div>
                    <img src="assets/img/compartirCoche.jpg">


                </div>

            </div>

            <div class="flex row center-horizontal">


                <div>

                    <img src="assets/img/money.png">

                </div>

                <div>

                    <header>

                        <h2>Ahorra hasta 100€/mes</h2>

                    </header>

                    <p>Compartiendo viaje con tres personas más reduce tu gasto de combustible en una cuarta parte al
                        mes!!
                    </p>




                </div>

            </div>

            <div class="flex row center-horizontal">


                <div>

                    <header>

                        <h2>Nueva movilidad</h2>

                    </header>

                    <p>Una vez en el punto de llegada, hoy en día existen infinidad de medios de transporte para llegar
                        al
                        destino.
                    </p>

                </div>

                <div>

                    <img src="assets/img/bici2.png">

                </div>

            </div>

            <!-- <div class="flex row center-horizontal">


                <div>

                    <img src="assets/img/geolocalizacion.png">

                </div>

                <div>

                    <header>

                        <h2>Localización</h2>

                    </header>

                    <p>Mediante la app pudes localizar a personas que también quieran compartir cerca de tí. </p>

                </div>

            </div> -->



        </div>

    </section>
</body>

</html>