
h1 {

   
    font-size: 10rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
   
    
 }

  
h1 span {
   color:  rgb(110, 169, 247);
   font-size: 7rem;
   display: block;
   margin-top: -20%;
   padding-left: 50%;

 }

 h2 {

   font-size: 2.3rem;
   padding-bottom: 10%;
 }

 .titulo {

   margin-top: 8%;
 }


 .titulo p {

   padding-top: 2%;
   text-align: center;
 }
 
 .cabecera > p {

   font-size: 1.5rem;
   margin-top: -5%;
   font-weight: 700;
   
 }

 .cabecera {
    
    margin-left: 10%;

 }
 
 
 #hero {
 
    height: 100vh;
    /* position: relative; */
    background: white url('/../../assets/img/cabaceraDos.jpg') no-repeat center / cover;
 
 }
 
  
 h3 {
 
    text-align: center;
    font-size: 2em;
    color: rgb(59, 141, 247);
    padding-top: 5%;
    padding-bottom: 2%;
    
 }
 
 
 p {
 
    line-height: 1.5;
    font-size: 1.2em;
    color: rgba(0,0,0,.8)
 }
 
 a {
 
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
 }
 
 .boton {
 
    margin: 0 auto;
    display: block;
    text-align: center;
   background-color:  rgb(110, 169, 247);
    width: 40%;
   padding: 5px;
    transition: .5s;
    border-radius: 20px;
    border: 1px solid white;
    margin-top: 5%;

 }
 
 .boton p {
 
    font-size: 1.1em;
    transition: .5s; 
   color: white;
 }
 
 .boton:hover {
 
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(110, 169, 247);
    
 }
 
 .boton:hover p {
    color:black;
 
 }
 
 #intro {
 
 
     padding-top: 150px;
     padding-bottom: 150px;
 }
 
 .contenedorIntro {
 
     width: 80%;
     margin: 0 auto;
     text-align: center;
 }
 
 .contenedorIntro div > div{
 
     padding-top: 15%;
     padding-left: 5%;
     width: 75%;
 }
 

 hr {

   border: 1px solid rgb(110, 169, 247);
   width: 200px;
   
}
 
 /*----localizacion-----*/
 
 #localizacion div {
 
     margin: 7%;
 }

 /*---media queries----*/

 @media screen and (max-width: 360px) {

      h1 {

         font-size: 3rem;
      }

      h1 span {

         font-size: 2rem;
         margin-top: -8%;
         padding-left: 3%;
      }

      #hero p {

         font-size: .9em;
      }

      .boton {

         font-size: .8em;
         cursor: pointer;
      }

      /*-----intro-----*/

      .titulo img {

         display: none;
      }

      .titulo h3 {
         font-size: 1.2em;
      }

      .titulo p {

         font-size: .9em;
         padding: 3%;
      }

      .columnar {

         flex-direction: column;
      }

      .contenedorIntro img {

         width: 100%;
      }

      .contenedorIntro div:nth-child(even) {

         flex-direction: column-reverse;
         margin-top: 20%;
      }

      .contenedorIntro div > div{

         padding-top: 0%;
         padding-left: 0%;
      }

      .contenedorIntro h2 {

         font-size: 1.5rem;
      }

      .contenedorIntro p {

         font-size: 1rem;
      }
      
      .dinero {

         margin-top: 40%;
         margin-bottom: 40%;
      }

 }





 
 
  
  