form {

    font-size: 1em;
    font-family: Arial;
    margin: 0 auto;
  }

  form div {
    display: flex;
    flex-direction: column;
    margin: 1em;
    

  }

  input {
      width: 300px;
      padding: .5em;
      margin: .5em;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 1px solid var(--azul);
      font-size: 1em;

  }

  .contenedor {
   
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .container {

    margin-top: 5em;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  }

  input[type="submit"] {

    border-bottom: none;
    background-color: rgb(1, 182, 193);
    border-radius: 30px;
    width: 30%;
    font-size: 1.1em;
    cursor: pointer;
    
  }
  input[type="submit"] p {

    color: white;
  }


  /* #mat-input-0 {

    border-bottom: 1px solid grey;
    position: relative;
  }

  #mat-autocomplete-0 {

    position: absolute;
    top: 0;
  } */