
.container img {

  display: none;

}

h2 {

  text-align: center;
}

input, label {

  font-size: .8em;
}

input {

  margin: .4em;
}

input[type=submit] {

  width: 200px;
  display: block;
  margin: 0 auto;
  
}