<div class="container flex row center-horizontal center-vertical">

    <div>
        <img src="assets/img/registro.jpg">
    </div>

    <div>

        <h2>Entra en la comunidad</h2>

        <div>
            <div class="contenedor">
                <p *ngIf="formulario.untouched"></p>
                <form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="form-group">

                        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                        <p class="error"
                            *ngIf="formulario.controls['nombre'].errors?.required && formulario.controls['nombre'].touched">
                            El campo nombre es requerido
                        </p>
                        <p class="error"
                            *ngIf="formulario.controls['nombre'].errors?.maxlength && formulario.controls['nombre'].touched">
                            El campo nombre debe tener máximo
                            {{formulario.controls['nombre'].errors?.maxlength.requiredLength}}
                            caracteres. Tú has insertado
                            {{formulario.controls['nombre'].errors?.maxlength.actualLength}}
                            caracteres.
                        </p>
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
                        <p class="error"
                            *ngIf="formulario.controls['apellidos'].errors?.required && formulario.controls['apellidos'].touched">
                            El campo apellido es requerido
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email">
                        <p class="error"
                            *ngIf="formulario.controls['email'].errors?.required && formulario.controls['email'].touched">
                            El campo email es requerido
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" formControlName="fecha_nacimiento"
                            placeholder="Fecha de nacimiento">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" formControlName="usuario" placeholder="usuario">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" formControlName="password_repeat"
                            placeholder="Repite contraseña">
                        <p class="error" *ngIf="formulario.errors?.passwordvalidator">
                            ⚠️ {{formulario.errors.passwordvalidator }} ⚠️
                        </p>
                    </div>

                    <input type="submit" value="Enviar">

                </form>
            </div>
            <!-- <div class="col-4">
                <ul>
                    <li [ngClass]="{ 'tachado': !formulario.controls['nombre'].errors?.required }">
                        El campo nombre es requerido
                    </li>
                    <li [ngClass]="{ 'tachado': !formulario.controls['nombre'].errors?.maxlength }">
                        El campo nombre debe tener como máximo 15 caracteres
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>